.login {
  width: 460px;

  margin: 60px auto;
  padding: 50px 70px 70px;

  background-color: rgba(125, 181, 166, 0.6);
  border-radius: 3px;

  text-align: center;

  &__title {
    font-family: $default-font-family;
    font-size: 34px;
    font-weight: 300;
    color: $whiteColor;
  }
  &__form {
    width: 320px;

    margin: 0 auto;
  }
}
