.footer {
  margin-top: 62px;

  height: 110px;
  width: 100%;

  &__wrap {
    width: 100%;
    height: 100%;

    padding: 30px 0;

    border-top: 1px solid rgba(151, 151, 151, 0.5);
  }
  &__logo {
    &-link {
      float: left;
    }
    &-img {
      width: 100%;
      height: 50px;
    }
  }
  &__info {
    float: right;

    padding-top: 20px;

    line-height: 1;
  }
  &__copyright {
    float: left;

    opacity: 0.8;

    font-family: $default-font-family;
    font-weight: 400;
    font-size: 17px;
    color: $whiteColor;
  }
}
