{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="details">
        <div class="details__content">
            <div class="details__image" style="background-image: url('{{ movement.image.url }}')"></div>
            <div class="details__description">
                <h1 class="details__name">{{ movement.name }}</h1>
                <div class="details__author">Author: <a href="/user/{{ movement.author }}/" class="details__author-link">{{ movement.author }}</a></div>
                <div data-id="{{ movement.id }}"
                     class="details__likes movements__item-likes like-button"
                >
                    {% if movement.likes > 0 %}
                        {{ movement.likes }}
                    {% else %}
                        0
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
