{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="movements">
        <div class="movements__list">
            {% for movement in movements %}
                <div class="movements__item">

                    <a href="/{{ movement.id }}/"
                       style="background-image: url('{{ movement.image.url }}')"
                       class="movements__item-image">
                    </a>

                    <div class="movements__item-info">
                        <div class="movements__item-title-container">
                            <h2 class="movements__item-title">{{ movement.name }}</h2>
                            <a class="movements__item-author"
                               href="/user/{{ movement.author }}/">
                                by: {{ movement.author }}
                            </a>

                        </div>
                        <div data-id="{{ movement.id }}"
                             class="movements__item-likes like-button">
                            {% if movement.likes > 0 %}
                                {{ movement.likes }}
                            {% else %}
                                0
                            {% endif %}
                        </div>
                    </div>


                </div>
            {% endfor %}
        </div>

    </div>

    <div class="movements__form-container">
        <h2 class="movements__form-title">Add your photo right now!</h2>
        <form enctype="multipart/form-data" action="post_url/"
              method="post" class="movements__form">
            {% csrf_token %}

            {% for field in form %}
                <div class="input__container">
                    {% if field.html_name == 'image' %}
                        {{ field }}

                    {% else %}
                        {{ field.errors }}
                        {{ field }}
                        <label for="{{ field.id_for_label }}"
                               class="input__label">
                            {{ field.label }}
                        </label>
                    {% endif %}
                </div>

            {% endfor %}
            <div class="button__container">
                <input type="submit" value="Submit" class="button">
            </div>
        </form>
    </div>

{% endblock %}
