{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="movements">
        <div class="movements__list">
            {% for movement in movements %}
            <div class="movements__item">

                <a href="/{{ movement.id }}/" style="background-image: url('{{ movement.image.url }}')"
                         class="movements__item-image">
                </a>

{#                <div class="movements__item-likes">#}
{#                    <button id="likes" data-id="{{ picture.id }}"#}
{#                            class="btn btn-sm btn-danger glyphicon glyphicon-heart"#}
{#                            type="button">#}
{#                        {% if picture.likes > 0 %}#}
{#                            {{ picture.likes }}#}
{#                        {% endif %}#}
{#                    </button>#}
{#                </div>#}

                <div class="movements__item-title-container">
                    <h2 class="movements__item-title">{{ movement.name }}</h2>
                    <a class="movements__item-author"
                       href="/user/{{ movement.author }}/">
                        by: {{ movement.author }}
                    </a>
                </div>


            </div>
        {% endfor %}
        </div>

    </div>

    <div class="form">
        <form enctype="multipart/form-data" action="post_url/"
              method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>

{% endblock %}
