{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="login">
        <h1 class="login__title">Login</h1>
        <div class="login__form-container">
            <form method="post" action="." class="login__form">
                {% csrf_token %}

                {% for field in form %}
                    <div class="input__container">
                        {{ field }}
                        <label for="{{ field.id_for_label }}"
                               class="input__label">
                            {{ field.label }}
                        </label>
                        <div class="input--error"></div>
                    </div>
                {% endfor %}
                <div class="button__container">
                    <input type="submit" value="Submit" class="button">
                </div>
            </form>
        </div>
    </div>

{% endblock %}
