{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="profile">
        <div class="profile__info">
            <h1 class="profile__info-name">{{ username }}</h1>
            <div class="profile__info-likes-amount"></div>
        </div>
        <div class="profile__movements">
            {% for movement in movements %}
                <div class="profile__movements-item">
                    <a href="/{{ movement.id }}/"
                       class="profile__movements-image"
                       style="background-image: url('{{ movement.image.url }}')">

                    </a>
                 <h2 class="profile__movements-title">
                            {{ movement.name }}
                        </h2>
                <div data-id="{{ movement.id }}"
                     class="profile__movements-likes"
                >
                    {% if movement.likes > 0 %}
                        {{ movement.likes }}
                    {% else %}
                        0
                    {% endif %}
                </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
