.button {
  &__container {
    position: relative;

    margin: 70px auto 0;
    padding: 11px 30px 11px;

    width: 180px;
    height: 50px;

    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 200px;

    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.5;
    }
  }

  background-color: transparent;

  font-family: $default-font-family;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
