.input {
  width: 100%;
  height: 44px;

  padding-right: 130px;
  padding-bottom: 2px;
  padding-top: 2px;

  background-color: #7DB5A6;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);

  font-family: $default-font-family;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;

  &__container {
    overflow: hidden;
    position: relative;

    margin-top: 30px;
  }
  &__label {
    position: absolute;
    top: 9px;
    left: 0;

    opacity: 0.8;

    font-family: $default-font-family;
    font-weight: 400;
    font-size: 18px;
    color: #4c6372;

    cursor: text;

    transform: translateX(0px);

    transition: opacity 0.5s cubic-bezier(0.250, 0.100, 0.250, 1.000),
    transform 0.5s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  }
  &:focus {
    outline: none;

    box-shadow: none;
  }
  &:focus + &__label {
    opacity: 0;

    transform: translateX(320px);
  }
}
